body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Increased width */
  margin-bottom: 20px;
}

input, button {
  margin-top: 10px;
  padding: 10px; /* Added padding for better spacing */
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners */
}

.logout-container {
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
}

button {
  background-color: #007BFF; /* Button color */
  color: white;
  border: none;
  padding: 10px 15px; /* Padding for the button */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.graphs-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.graph-wrapper {
  width: 100%;
  max-width: 900px; /* or 100vw if you want full screen width */
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.graph-wrapper svg {
  display: block;
  min-width: 100%; /* allow horizontal overflow */
}

svg {
  flex: 1; /* Allow SVGs to grow equally */
}

svg rect:hover {
  fill: orange;
}